# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/img/*
web/uploads/*
web/bundles/*
web/img/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

#config interne
.idea/*
