

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background-image:url('../img/bg.png');
     background-repeat:repeat-y repeat-x;
     
}
.navbar-inverse .navbar-inner{
    background: #361b01 !important;
    border-color: none;
}
.navbar-inverse .nav .active>a{
    background: #361b01 !important;
}
.icn_res_sociaux img{
    width: 20px;
    margin-top: 7px;
}
.title-orange{
    font-family: 'Lobster', cursive;
    color: #faa50c;
}
.title-brown{
    font-family: 'Lobster', cursive;
    color: #361b01;
}

.btn-with-link a, a:hover{
    color: white;
text-decoration: none;
}

p{
    text-align: justify;
}
.text-white{
    color: white;
}
.icn-flags {
    width:20px;
    margin-left: 10px;
    margin-top: 7px;
}

.padding-top-bottom{
    padding-bottom: 10px;
    padding-top: 10px;
}
/*Index*/
.brown-bloc{
    background: #361b01;
    border-bottom: 5px solid #faa50c;
    margin-top: 5px;
}

.orange-bloc{
    background: #faa50c;
    border-bottom: 5px solid #361b01;
    margin-top: 5px;
}

#news{
   margin-top: -17px;
    height:301px;
    overflow: hidden;
    position: relative;
    
}
#moving-block-news{
    position: relative;
}
.mini-news{
    border-bottom: 1px solid #361b01;
    margin-bottom: 29px;
}
#news h4{
    font-size: 20px;
}
#wrapper-btn-next-news{
    text-align: center;
    margin-top: 299px;

}
#wrapper-btn-next-news a{
color: #361b01;
}
#wrapper-btn-next-news a:hover{
    cursor: pointer;
}
.cs-title{
    width: 735px;
}
/**/
/*Footer*/
#container-footer-large{
    margin-top: 20px;
    background: #361b01;
}
/**/

/*Contact*/
#btn-google-maps{
    margin-top: 25px;
}
#info-contact-page{
    float: left;
    padding-top: 15px;
    padding-left: 30px;
}
/**/

/*news*/
.bloc-mini-news{
    background-color: rgba(255, 255, 255, 0.2);
    
}
.titre-news{
    color: #361b01;
    font-weight: bold;
}
#content-focus-news{
    margin-top: 10px;
   
}
/*Combi list*/

.visuel-combi-com-list{
    max-height: 300px;
    text-align: center;
    border: 10px solid white;
    -webkit-box-shadow: 6px -3px 10px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    6px -3px 10px rgba(50, 50, 50, 0.35);
    box-shadow:         6px -3px 10px rgba(50, 50, 50, 0.35);
}
.item-detail-combi{
    margin-bottom: 19px;
    font-size: 15px;
}
.mini-img-combi-details{

}












